.center.jumbotron.home-container
  h1
    | Poll this webpage
  h2
    | lorem ipsum hello world is there somebody
    a href="#"  Link another
    |  Poll Me
  div.row
    span.col-md-6
      = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary pull-right"
    span.col-md-6
      = link_to "View Available Polls", polls_path, class: "btn btn-lg btn-primary pull-left"
