= provide(:title, "User Profile")
.row.user-container
  aside.col-md-4
    section.user_info
      h1.center
        = current_user.email
      /span.center
      /  = @user.email
  div.col-md-8.poll-options
    div.button-holder
      = link_to "View Available Polls", "#", class: "btn btn-lg btn-primary pull-left button-medium"
    div.button-holder
      = link_to "Create Polls", new_poll_path, class: "btn btn-lg btn-primary pull-left button-medium"
