header.navbar.navbar-fixed-top.navbar-inverse
  .header-container
    = link_to "Codyssey Poll", "#", id: "logo"
    nav
      ul.nav.navbar-nav.navbar-right
        li= link_to "Home", home_path
        li= link_to "Help", help_path
        - if user_signed_in?
          li.dropdown
            a.dropdown-toggle data-toggle="dropdown" href="#"
              | Account
              b.caret
            ul.dropdown-menu
              li = link_to "Profile", current_user
              li.divider
              li = link_to "Logout", destroy_user_session_path , method: "delete"
        - else
          li= link_to "Log in", new_user_session_path
