= provide(:title, "List of Polls")

.list-container
  h3.center.col-md-12
    | List of available polls
  table.table.table-striped
    thead
      tr
        th.col-md-2
          span.grey #
        th.col-md-4
          span Owner
        th.col-md-6
          span Question
    tbody
      - @polls.each do |poll|
        tr.table-row.pointer.poll-click data-href="#{poll_path(poll)}"
          td.grey =poll.id
          td.blue =poll.user.email
          td =poll.question
