= provide(:title, "Log in")
.form-container.jumbotron
  h3.center.col-md-12
    | Create Poll
  .row
    .col-md-10.col-md-offset-1
      = react_component('FormCreate')
      /= form_for(:session, url: login_path) do |f|
      /  = f.label :email
      /  = f.email_field :email, class: 'form-control'
      /  = f.label :password
      /  = f.password_field :password, class: "form-control"
      /  = f.submit "Log in", class: "btn btn-primary"
      /p
      /  | New user?
      /  = link_to " Sign up now!", signup_path
