= provide(:title, "#{@poll.question}")

.poll-container
  h3.center.col-md-12.question
    = @poll.question
  div.col-md-12.pull-left.answers
    = react_component('Vote', {poll: @poll, authenticity_token: form_authenticity_token})
