= provide(:title, "Log in")
h1
  | Log In
.row
  .col-md-6.col-md-offset-3
    = form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f|
      = f.label :email
      = f.email_field :email, class: 'form-control'
      = f.label :password
      = f.password_field :password, class: "form-control"
      = f.submit "Log in", class: "btn btn-primary"
    p
      | New user?
      = link_to " Sign up now!", new_user_registration_path
