@import 'bootstrap-sprockets';
@import 'bootstrap';

/* variable, mixins, color */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.grey {
  color: #bbb;
}

.blue {
  color: #55c;
}

/* Universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.pull-left {
  float: left;
}

.border {
  border: 1px solid rgba(50,50,50,0.4);
}

.pull-right {
  float: right;
}

.button-medium {
  width: 300px;
}

.vertical-space {
  margin: 5px auto;
}

.pointer {
  cursor: pointer;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
/* footer */

footer {
  margin-top: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* containers */

.poll {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  height: 400px;
}

.chart-block {
  height: 400px;
}

.bar-chart{
  height: 400px;
}

.nv-chart {
  height: 300px;
}

.chart-block {
  height: 400px;
  padding-top: 20px;
}

.poll-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.answers {
  padding-left: 190px;
  padding-right: 190px;
}

.answer {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.answer-label {
  text-align: left
}

.container {
  min-height: 600px;
}

.user-container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
      width: 100%;
        margin-bottom: 15px;
          @include box_sizing;
        }

input {
  height: auto !important;
}

label {
  /* Other styling.. */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.dotted {
  border: 1px solid #bbb;
  border-style: dashed;
  height: 40px;
}

.add-more {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.answer-box {
  height: 40px;
}

/* alert */
.alert:empty {
  display: none;
}

/* polls */
.question {
  padding-top: 10px;
  padding-bottom: 10px;
}

