doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'shared/header'
    .container
      - flash.each do |message_type, message|
        div class=("alert alert-#{message_type}")
          = message
      = yield
    = render 'shared/footer'
